body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h2{
    text-align: center;
}
.pricing_plans{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid; */
    padding: 1% 0% 3% 0%;
    
    margin:4% 12% 2% 12%;
    /* background-color: aqua; */
}
.pricing_box>p:nth-child(-n+2){
       color: blue;
}
.pricing_box{
    height:95%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 2px;
    padding: 3% 1% 2% 2%;
    text-align: center;
    /* align-items: center; */
    margin: auto;
    border:1px solid #EFF4F7;
    width:95%;
}
#popular{
    height:105%;
    margin-top: -6%;
    border: 0.5px solid green;
    text-align: center;
    /* align-items: center; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width:103%;
}
#popular>div{
    position: relative;
    top:-2.6%;
    width:60%;
    height:5%;
    margin-left: 20%;
    padding-bottom: 3px;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: smaller;
    background-color: green;
    color: white;
}
#popular>p:nth-child(-n+3){
    color: red;
}
#popular>button{
    background-color: red;
    color: white;
    
}

.pricing_plans_head1{
   margin-top: 0px;
}
.bigger-number{
    font-size: xx-large;
}
button{
    width:80%;
    border-radius: 5px;
    height:6%;
    background-color: white;
    border:1px solid red;
    color: blue;
}
.top_section{
    text-align: center;
}
#detail_list{
    text-align: left;
    font-size: 14px;
    line-height: 2;
}
.detail_list2{
    font-size: small;
    text-align: left;
    font-weight: lighter;
    /* line-height: 110%; */
}

li{
    list-style-type: none;
}
.lower_topsection{
    text-align: center;
    margin:4% 12% 5% 12%;
}
.faq{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10%;
    margin:4% 12% 5% 12%;
}

.customer{
    margin:4% 12% 5% 12%;
    text-align: center;
}
.rating{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 3%;
    margin-bottom: 4%;
}
.rating>img{
    width:80%;
}
.customer>img{
    width:90%;
}


@media (min-width:481px) and (max-width:768px){
    .pricing_plans{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
        /* border:1px solid red; */
        width:80%;
        /* margin:1% 5% 1% 5%; */
    }
    .faq{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* column-gap: 10%; */
        margin:4% 12% 5% 12%;
    }
}
@media (max-width:480px){
    .pricing_plans{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* border:1px solid red; */
        row-gap: 20px;
    }
    .faq{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 10%;
        margin:4% 12% 5% 12%;
    }
}
